/* G*/
html,body{
    font-family: raleway;
}
.flexcentre{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flexAround{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.flexbetween{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.textegras {
    font-weight: bold;
}
.taille{
    width: 30%;
}
.color {
    color: #0065fc;
}
.liencolor{
    color: black;
}
.decoration{
    text-decoration: none;
}
.title
{
    margin-bottom: 0.5rem;
    font-size: 60%;
}
.recherche{
      padding: 1rem 1.25rem;
      border-radius: 1rem 0 0 1rem;
      display: flex;
      
}
.search_button
{
    background-color: #0065fc;
    color: white;
    height: 40px;
    border-radius: 0px 14px 14px 0px;
    border: none;
}
.search_input {
    height: 40px;
    border-left: none;
    border-right: none;
    border-top: solid 1px #F2F2F2;
    border-bottom: solid 1px #F2F2F2;
}
.search_map{
    border-radius: 14px 0px 0px 14px;
    background-color: #F2F2F2;
    width: 45px;
    border: none;

}
/*filtres*/
.searchfilters{
    display: flex;
        margin-top: 2rem;
        flex-wrap: wrap;
}
.searchfilters{
    display: flex;
    align-items: center;
    margin-right: 2rem;
    border-radius: 2rem;
    margin-bottom: 1rem;
    cursor: pointer;
    transition-duration: 0.1s;
    font-weight: bold;
    padding-right: 1rem;
}
.searchFilters i {
    height: 3rem;
    width: 3rem;
    min-height: 3.5rem;
    min-width: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -2px;
    color: #0065FC;
    margin-right: 1rem;
}
button {
    border-radius: 30px;
    height: 42px;
    width: 42px;
    background: #deebff;
    border: 1px solid #deebff;
    color: #0065fc;
    outline: none;
    margin: 0;
    align-self: flex-end;
  }

.filters{
    margin-bottom: 0;
    margin-right: 20px;
    font-weight: bold;
    align-self: center;
    display: flex;
   }
.margfilters{
    margin-top: 5px;
    margin-bottom: 5px;
}
.margtitre{
    margin-right: 10px;
}

.eco,
.family,
.animals,
.romantic {
  border: solid 2px #F2F2F2;
  border-radius: 30px;
  width: max-content;
  padding-right: 20px;
  border-left: none;
  margin-right: 15px;
  margin-top: 10px;
}

.info{
    color: #0065FC;
    border: solid 1px #F2F2F2;
    border-radius: 30px;
    padding: 6px;
    padding-left: 11px;
    padding-right: 11px;
    border: solid 1px #f2f2f2;
    justify-content: flex-start;
    margin-right: 10px;
}

.information {
    display: flex;
    align-items: center;
}
/*hebergements*/

.conteneur {
display: flex;
flex-wrap: wrap;
width: 65%;
background-color: #F2F2F2;
}
.hebergement {
display: flex;
flex-direction: row;
margin-left: 20px;
width: fit-content;
}
.list_hebergements{

flex-wrap: wrap;
width: fit-content;
background-color: #fff  
}

.blue_star {
    color: #0065fc;
}
.grey_star {
    color: #e2e2e2;
}
.taillehebergement{
    flex: 2;
    height: 650px;
    margin-right: 20px;
    border-radius: 10px;
}
.backgris{
    background-color: #F2F2F2;
}

.room_img{
    width: 200px;
    height: 150px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.classement {
    display: flex;
    justify-content: space-between;
    width: 70px;
    margin-left: 30px;
    margin-top: 10px;
}
article{
    margin-left: auto;
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    margin: 10px;
    border: solid white 1px;
}
.body_margin{
    margin: auto;

}
.taillepopuplaire{
    width: 35%;
    display: flex;
}

 /* Les plus populaires */
 .most_popular {
    width: 400px;
    border-radius: 20px;
    padding-left: 40px;
    padding-right: 40px;
    flex: 1px;
    position: relative;
  }
  .popular_room_image {
    width: 150px;
    max-height: 140px;
  }
  .most_popular a {
    width: auto;
    min-width: 380px;
  }
  .most_popular_list a:hover {
    box-shadow: none;
  }
  .most_popular a {
    height: 140px;
  }
  .description h2 {
    font-size: 1em;
  }
  .description h3 {
    font-size: 0.8em;
  }

   /* Activités */
   .activities_list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 600px;
    margin: 0;
  }

  .activities {
    max-width: 1442px;
  }
  .activitie_image_large {
    width: 340px;
    height: 450px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  .activitie_image_medium {
    width: 340px;
    height: 205px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  .activitie_image_small {
    width: 340px;
    height: 150px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  .activities a {
    margin-right: 27px;
    margin-bottom: 40px;
    background-color: #fff;
    box-shadow: -1px 2px 27px 0px rgba(189, 189, 189, 0.65);
    transition-duration: 0.2s;
  }
  .activities a:hover {
    background: #f2f2f2;
    box-shadow: none;
  } 
/* Footer */
footer {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-right: 0;
    display: flex;
    position: fixed;
    bottom: 0;
  }

.content {
    padding: 20px;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 70%;
  }